$accent: #d7b399;
$dark: #212121;
$light: #f9f6f1;
$gray: #cbcfd4;
$light-gray: #f4f4f4;
$dark-gray: #8d8d8d;
$important: #d84033;

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.page {
  padding-top: 100px;
  padding-bottom: 100px;
  &-light {
    background-color: $light;
  }
  &-dark {
    background-color: $dark;
  }
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  padding-top: 46px;
}
.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  &-item {
    margin-right: 52px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-link {
    color: $dark;
    text-decoration: none;
  }
}
.cart {
    background-image: url(../img/cart.svg);
    padding-left: 46px;
    display: block;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-color: transparent;
    border: none;
    outline: none;
    padding-right: 0;
  &-count {
    background-image: url(../img/cart-bg.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 19px 10px 23px;
    display: block;
  }
}
.title-h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}
.btn {
  background-color: $accent;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
  &-xs {
    padding: 5px 28px;
  }
  &-center {
    display: block;
    text-align: center;
    max-width: 168px;
    margin: 0 auto;
    span {
      margin-right: 15px;
    }
  }
}
.main {
  display: flex;
  justify-content: space-between;
  &-item {
    flex: 0 0 50%;
  }
  .sale {
    &-description {
      font-size: 30px;
      letter-spacing: -0.6px;
    }
    &-title {
      font-size: 55px;
      font-weight: 700;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
}
.box {
  position: relative;
  &-price {
    position: absolute;
    right: 0;
    top: 35px;
    text-align: right;
    &-old {
      font-size: 24px;
      font-weight: 700;
    }
    &-new {
      font-size: 42px;
      font-weight: 700;
      color: $important;
      margin-top: 17px;
    }
  }
  &-image {
    width: 100%;
    max-width: 556px;
}}
.notice {
  text-align: center;
  color: #fff;
  padding: 64px 0 54px;
  &-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    span {
      font-weight: 700;
    }
  }
  &-description {
    font-size: 21px;
    margin-bottom: 43px;
  }
}
.collection {
  display: flex;
  justify-content: space-between;
  &-item {
    flex: 0 0 50%;
    padding: 43px 0 63px;
    background-size: 190px 171px;
    background-repeat: no-repeat;
    background-position: calc(100% - 37px) bottom;
  }
  &-man {
    background-image: url("/img/man.png");
  }
  &-woman {
    background-image: url("/img/woman.png");
  }
  &-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &-description {
    font-size: 16px;
    margin-bottom: 45px;
  }
}
.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 103px;
  margin-bottom: 100px;
  &-item {
    flex: 0 0 24%;
    position: relative;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 25px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &:before {
      background-image: url("/img/item-top.svg");
    }
    &:after {
      background-image: url("/img/item-bottom.svg");
    }
  }
  &-title {
    font-weight: 600;
    margin-top: 23px;
    margin-bottom: 0;
  }
  &-price {
    color: $accent;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  &-logo {
    flex: 0 0 40%;
    img {
    margin-top: 15px;
    }
  }
  &-nav {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    color: #fff;
  }
  &-list {
    list-style-type: none;
    padding-left: 0;
    &-title {
      font-size: 14px;
      font-weight: 600;
    }
    &-item {
      margin-bottom: 10px;
    }
    &-link {
      color: $gray;
      text-decoration: none;
      font-size: 14px;
    }
  }
}
.footer-social {
  list-style-type: none;
  padding-left: 1px;
}
.social-link {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
  font-size: 14px;
  color: #cbcfd4;
}
.social-vk {
  background-image: url(/img/vk.svg);
}
.social-fb {
  background-image: url(/img/fb.svg);
}
.social-instagram {
  background-image: url(/img/instagram.svg);
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: #212121;
  padding: 15px 0;
}
.footer-bottom p {
  margin: 0;
  font-size: 14px;
}
.footer-bottom a {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
}